name: Sync News

on:
  workflow_dispatch:
  schedule:
    - cron: "0 14 * * *"

permissions:
  contents: write

jobs:
  update-news:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - shell: bash
        run: |
          git config --global core.longpaths true
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"
          cache-dependency-path: "新闻联播/requirements.txt"
      - shell: bash
        run: |
          python -Im pip install --upgrade pip
          python -Im pip install --requirement 新闻联播/requirements.txt
      - shell: bash
        run: |
          cd 新闻联播
          python main.py
      - uses: DavidAnson/markdownlint-cli2-action@v21.0.0
        with:
          globs: "新闻联播/**/*.md"
          fix: true
          config: ".markdownlint.json"
        continue-on-error: true
      - shell: bash
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add -A
          if git diff --cached --quiet; then
            exit 0
          fi
          git commit -m "feat(news): bump [$(date -u +%FT%TZ)]"
          git push origin ${{ github.ref_name }}
